<!--<article th:fragment="article">-->
<!--  <h3>Semantic HTML</h3>-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus odio non feugiat pretium. Integer nec tortor enim. Nunc rhoncus ullamcorper massa, in euismod diam volutpat quis.</p>-->
<!--  <p>Nunc semper sapien sit amet ex dapibus, sed molestie nibh hendrerit. Sed at pharetra justo, in hendrerit nulla. Integer id aliquam elit. Mauris faucibus augue nulla, sed efficitur est iaculis id. Sed eu risus vitae tortor faucibus aliquam id vitae velit. Nunc eget lobortis lorem.</p>-->
<!--  <figure>-->
<!--    <img src="/img/Semantic-html.jpeg" alt="Semantic-html" style="width:100%">-->
<!--    <figcaption>Semantic HTML.</figcaption>-->
<!--  </figure>-->
<!--</article>-->
<article th:fragment="article" class="article">
  <h3 class="article-title">Semantic HTML</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus odio non feugiat pretium. Integer nec tortor enim. Nunc rhoncus ullamcorper massa, in euismod diam volutpat quis.</p>
  <p>Nunc semper sapien sit amet ex dapibus, sed molestie nibh hendrerit. Sed at pharetra justo, in hendrerit nulla. Integer id aliquam elit. Mauris faucibus augue nulla, sed efficitur est iaculis id. Sed eu risus vitae tortor faucibus aliquam id vitae velit. Nunc eget lobortis lorem.</p>
  <figure class="article-image">
    <img src="/img/Semantic-html.jpeg" alt="Semantic-html" class="article-img">
    <figcaption class="article-caption">Semantic HTML.</figcaption>
  </figure>
</article>