<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <footer>
         <p> Copyright &copy 2023 mo senyonjo</p>
    </footer>
    
    <!-- jQuery -->
    <script src="/webjars/jquery/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="/webjars/popper.js/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
<!--    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>-->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <!-- Moment.js -->
    <script src="/webjars/momentjs/moment.min.js"></script>

    <!-- Underscore.js -->
    <script src="/webjars/underscore/underscore-min.js"></script>

    <!-- Backbone.js -->
    <script src="/webjars/backbone/backbone-min.js"></script>

    <!-- RequireJS -->
    <script src="/webjars/requirejs/require.min.js"></script>

    <!-- owl.carousel -->
    <script src="/webjars/owl.carousel/owl.carousel.min.js"></script>

</body>
</html>
